
<div class="yearWrapper" *ngFor="let obj of yearsObjects; let i = index">
    <span class="year" (click)="yearClicked(obj)"
          [ngClass]="{ selectedYear : obj.year === currentlySelectedDate.year }" >
        {{ obj.year }}
    </span>
    <div *ngIf="currentlySelectedDate.year === obj.year">
        <div class="month" *ngFor="let month of obj.months"
             [ngClass]="{ dateSelected : obj.year === currentlySelectedDate.year && month === currentlySelectedDate.month }"
             (click)="monthClicked(obj.year, month)">  {{ month }} </div>
    </div>
</div>
