@import "src/mixins";
@import "src/variables";

:host {
}

.yearWrapper {
  @include flexCenter;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  align-items: flex-end;
  margin-bottom: 0.7rem;

  .year {
    cursor: pointer;
    @include flexCenter;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.6rem;
    width: 6rem;
    height: 2.7rem;
    padding-left: 0.5rem;

    background-color: #e9e8e8;
    color: #a6a6a6;
    font-size: 1.2rem;
  }

  .selectedYear {
    background-image: linear-gradient(111deg, #05d6d9 -30%, #ef10fb 135%, #f907fc 168%);
    font-size: 1.3rem;
    color: #fff;
  }

  .month {
    //transition: 1s;
    cursor: pointer;
    @include flexCenter;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    background-color: #15009a;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 0.6rem;
    width: 5rem;
    height: 2.4rem;
    padding-left: 0.2rem;
  }
}

.dateSelected {
  border:4px solid red;
}
