

<ng-container  *ngIf="showScandal">

    <div class="scandalWrapper" [ngClass]="{ 'scandalWrapper-opened' : opened } " >
        <img src="/assets/cancel.png" class="closeButton"  *ngIf="opened">

        <header class="header" [ngClass]="{ 'header-opened' : opened } ">
            <h3  class="h3" [ngClass]="{ 'h3-opened' : opened } "> {{ scandal.title }} </h3>
            <div class="lineSeparator" [ngClass]="{ 'lineSeparator-opened' : opened } "></div>
        </header>

        <main class="main" [ngClass]="{ 'main-opened' : opened } ">
            <p class="mainText" [ngClass]="{ 'mainText-opened' : opened } "  > {{ scandal.description }} </p>

            <div class="sourcesWrapper"  [ngClass]="{ clickable : opened } " >
                <p class="sectionTitle"> Sources </p>
                <div class="source" *ngFor="let src of scandal.sources" (click)="openLinkInNewTab(src.url)">
                    <span class="sourceName"> {{ src.name }}  </span> :<span class="sourceTitle">  {{ src.title }} </span>  &nbsp; ({{ src.date | date:'shortDate' }})
                </div>
            </div>

            <div class="blur" *ngIf="!opened" ></div>
        </main>

        <footer>
            <div class="dateWrapper">
                <img src="/assets/from-zepplin/calendar-icon.svg"  class="calenderIcon" alt="calender icon"/>
                <span class="dateText"> {{ scandal.date | date: 'mediumDate' }} </span>
            </div>
            <div class="socialsWrapper">
                <div class="share"> Share </div>
                <img src="/assets/from-zepplin/facebook-icon.svg"  class="socialIcon" alt="facebook icon"/>
                <img src="/assets/from-zepplin/whatsapp-icon.svg"  class="socialIcon" alt="whatsapp icon"/>
                <img src="/assets/from-zepplin/instagram-icon.svg"  class="socialIcon" alt="instagram icon"/>
            </div>
        </footer>

    </div>

</ng-container>

