@import "src/mixins";
@import "src/variables";

:host {
}

.scandalWrapper {
  cursor: pointer;
  transition: 0.1s ease-out;
  position: relative;
  height:30rem;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;

  &-opened {
    cursor: auto;
    border-top-right-radius: 0;
    width:50vw;
    height: fit-content;
    max-height: 90vh;

    &:hover { box-shadow: none !important }
  }

  &:hover {  box-shadow: 0 0 3px 1px rgb(166, 166, 166, 0.7) }

}


.closeButton {
  cursor: pointer;
  @include flexCenter;
  position: absolute;
  background-color: transparent;
  border: none;
  top: 8px;
  right: 8px;
  height: 1.1rem;
  width: auto;
}


.header {
  padding-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.main {
 padding-right: 2rem;
 padding-left: 2rem;
}


.header {
  margin-bottom: 2rem;

  //width:44%;
  //text-align: center;
  &-opened {
    @include flexCenter;
    flex-direction: column;
  }

  figure {
    border:2px solid black;
    height:4rem;
    width:100%;
    img {}

  }

  .h3 {
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1875rem;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #15009a;

    &-opened {
      width:77%;
      text-align: center;
    }

  }

  .lineSeparator {
    height: 1px;
    width: 80%;
    background-color: #15009a;
    margin-left: 0.73rem;

    &-opened {
      margin-left: 0;
    }

  }


}

.main {
  overflow: hidden;
  position: relative;

  &-opened { overflow-y: scroll}

  .blur {
    height:5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%,
            rgba(255, 255, 255, 0.7) 25%,
            rgba(255, 255, 255, 0.5) 50%,
            rgba(255, 255, 255,0.3) 75%,
            rgba(255, 255, 255,0.1) 100%);
  }

  height: 100%;

  .mainText {
    font-family: 'Lato', sans-serif;
    //font-size: 0.9375rem;
    font-size: 1.1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: darken(#898787 , 8%);
    margin-bottom: 2.5rem;

    &-opened { line-height: 1.7 }
  }

  .sourcesWrapper {
    pointer-events: none;

    .sectionTitle {
      font-family: 'Poppins', sans-serif;
      font-size: 1.25rem;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #8b8b8b;
    }


    .source {
      cursor: pointer;
      font-family: 'Lato', sans-serif;
      font-size: 0.9375rem;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.33;
      letter-spacing: normal;
      color: #15009a;

      margin-bottom: 1rem;

      .sourceTitle {
        transition: 1s;
        &:hover {
          //color: red;
          text-decoration: underline;
        }
      }

      .sourceName { color: #898787 }
    }
  }
}


footer {
  margin-top: auto;
  width: 100%;
  height: 2.75rem;
  padding: 0.8125rem 1.5625rem 0.75rem 1.5rem;
  object-fit: contain;
  border-bottom-left-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;

  background-color: #f8f8f8;
  @include flexCenter;

  .dateWrapper {
    @include flexCenter;

    .calenderIcon {
      height: 0.9375rem;
      width: 0.9375rem;
      margin-right: 0.5625rem;
    }

    .dateText {
      font-family: 'Lato', sans-serif;
      font-size: 0.8125rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #898787;
    }


  }

  .socialsWrapper {
    height:100%;
    margin-left: auto;
    @include flexCenter;
    & > *:not(:last-child) { margin-right: 0.6rem; }

    .share {
      font-family: 'Poppins', sans-serif;
      font-size: 0.85rem;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
      color: #898787;
      padding-top: 5px;
    }

    .socialIcon {
      transition: 0.1s ease-in;
      cursor: pointer;

      &:hover {
        filter: invert(70%) sepia(12%) saturate(4271%) hue-rotate(313deg) brightness(100%) contrast(97%);
      }

    }


  }

}



.clickable {
  pointer-events: auto !important;
}
