<div class="container" [ngClass]="{ 'container-blur' : blurEverything}" appDetectScroll appSmoothScroll>
    <app-header></app-header>
    <app-last-scandal-banner></app-last-scandal-banner>
    <app-scandals></app-scandals>
</div>

<div class="scrollToTop"  (click)="goToTop()"
     [ngClass]="{ 'scrollToTop-show' : syncUIService.showScrollToTopButton$ | async }" >
    <img src="/assets/from-zepplin/up-arrow.svg">
</div>

