@import "src/mixins";
@import "src/variables";


:host {
}

.container {
  height: 100vh;
  overflow: scroll;
  //background-color: red;

  &-blur { filter: blur(2px) }
}

app-header {
}

app-last-scandal-banner {
}


.scrollToTop {
  cursor: pointer;
  position: fixed;
  bottom:2rem;
  right:3rem;
  @include flexCenter;
  transition: 0.4s ease-out;
  opacity: 0;

  img {
    height:4rem;
    width: auto;
  }

  &-show {
    opacity: 1 !important;
  }

}
