<header class="header">
    <h3> Admin View </h3>
</header>


<main class="main">
    <nav class="nav">
        <div class="navItem"> All Posts </div>
        <div class="navItem"> New Posts </div>
    </nav>
    <div class="body">
        this isi body
    </div>
</main>
