@import "src/mixins";
@import "src/variables";

$headerHeight : 9rem;

:host {
  height: 100vh;
}

.header {
  height: $headerHeight;
  background-color: lightslategrey;
  padding:2rem;
  display: flex;
  justify-items: flex-start;
  align-items: center;

  h3 {
    font-size: 2.5rem;
    color: darkslategrey;
  }
}

.main {
  background-color: yellow;
  height: calc(100vh - #{$headerHeight});
  display: flex;

  .nav {
    width: 15vw;
    height: 100%;
    background-color: green;

    .navItem {
      width: 100%;
      padding:2rem;
      font-size: 1.5rem;
      background-color: blue;
      border-bottom: 2px solid black;
      cursor: pointer;
      transition: 0.2s ease-out;

      &:hover {
        background-color: pink;
      }
    }
  }

  .body {
    width: auto;
  }

}

