<div class="logoWrapper">
    <img src="assets/logo.png" />
</div>

<div class="navBar">
    <ul class="list">
        <li class="item" (click)="navBarItemClick($event)"> Latest Scandals </li>
        <li class="item"> All Scandals </li>
        <li class="item"> Category
            <svg class="arrowDownIcon">  <use xlink:href="/assets/symbol-defs.svg#icon-arrow_down"></use> </svg>
        </li>
    </ul>
</div>

<div class="searchBar">
    <div class="inputBoxWrapper">
        <input type="text" class="inputBox" placeholder="Search" (input)="typingSearchQuery(searchInput.value)"  #searchInput />
        <img src="/assets/from-zepplin/search-icon.svg"  class="searchIcon" alt="search icon"/>
    </div>
</div>

<div class="language">
    <div class="flagWrapper">
        <img src="/assets/from-zepplin/uk-flag.png"  class="flag" alt="UK flag"/>
    </div>
    <span class="textWrapper"> EN </span>
    <svg class="arrowDownIcon"> <use xlink:href="/assets/symbol-defs.svg#icon-arrow_down"></use> </svg>
</div>

<div class="postArticleWrapper">
<!--    <button> Post your article </button>-->
    <div> Post your article </div>
<!--    <img src="/assets/from-zepplin/button-111.svg" alt="">-->
</div>


