@import 'src/mixins.scss' ;
@import 'src/variables.scss' ;


:host {
  padding-left: 4rem;
  padding-right: 4rem;
  //background-color: red;

  //display: grid;
  //grid-template-rows: 5rem;
  //grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  display: flex;
  //height: 8rem;
  height: 5.8125rem; //93px at base 16px
  width: 100%;

  & > * {
    padding-left: 2rem;
    padding-right: 2rem;
    @include flexCenter;
    //border:1px solid black;
  }

}


.logoWrapper {
  z-index: 1; //all others are 0 (I guess)

  position: relative;
  img {
    height: 7rem;
    position: absolute;
    top: 5%;
    left: -86%;
  }
}

.navBar {
  //font-size: 1.9rem;
  //background-color: yellow;
  flex-basis: 40%;

  .list {
    @include flexCenter;
    text-decoration: none;
    list-style-type: none;

  }

  .item {
    color: #898787;
    cursor: pointer;
    @include flexCenter;

    &:not(:last-child) {
      margin-right: 2.4rem;
    }

  }

}

.searchBar {
  position: relative;
  margin-right: auto;
  //border: 2px solid black;
  .inputBoxWrapper {
    position: relative;
    height: 3.06rem;
    width: 17.56rem;

    .inputBox {
      border-radius: 1.75rem;
      font-size: 0.93rem;
      //TODO : ask Folla : font-size of input text. is it the same as the place holder ?
      padding: 1rem;
      height: 100%;
      width: 100%;
      padding-left:3rem;
      border-style: solid;
      border-width: 1px;
      border-color: transparent;
      background-color: #f3f2f2;
      color: #898787;
      //TODO : ask Folla : what is the color of text when typing ?
    }

    .searchIcon {
      height: 52%;
      width: auto;
      position : absolute;
      top: 23%;
      left: 4%;
    }
  }


}

.language {
  cursor: pointer;
  margin-left: auto;
  //border:4px solid blue;
  width: fit-content;
  @include flexCenter;

  padding-left: 0.2rem;
  padding-right: 0.2rem;


  .flagWrapper {
    @include flexCenter;
    margin-right: 0.45rem;

    .flag {

    }

  }

  .textWrapper {
    @include flexCenter;
    font-size: 0.75rem;
    //font-family: Lato, serif;
    color: #828282;
  }



}




.postArticleWrapper {
  width: fit-content;

  button {
    height:3.43rem;
    width: 13.6rem;
    border-radius: 0.75rem;
    border-color: transparent;
    cursor: pointer;
    font-size: 1.12rem;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    //background-color: cornflowerblue;
    //background-image: linear-gradient(101deg, #05d6d9 -67%, #ef10fb 121%, #f907fc 159%);
    //background-image: linear-gradient(101deg, #05d6d9 -67%, #ef10fb 121%, #f907fc 159%);

    opacity: 0.86;

    //background: linear-gradient(90deg, rgba(5,214,217,1) 0%, rgba(239,16,251,1) 66%, rgba(249,7,252,1) 100%);
    background: linear-gradient(90deg, rgba(5,214,217,1) 0%, rgba(249,7,252,1) 100%);
  }
  div {
    @include flexCenter;
    height:3.43rem;
    width: 13.6rem;
    border-radius: 0.75rem;
    border-color: transparent;
    cursor: pointer;
    font-size: 1.12rem;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    //background-color: cornflowerblue;
    //background-image: linear-gradient(101deg, #05d6d9 -67%, #ef10fb 121%, #f907fc 159%);
    //background-image: linear-gradient(101deg, #05d6d9 -67%, #ef10fb 121%, #f907fc 159%);

    //opacity: 0.86;

    //background: linear-gradient(90deg, rgba(5,214,217,1) 0%, rgba(239,16,251,1) 66%, rgba(249,7,252,1) 100%);
    //background: linear-gradient(90deg, rgba(5,214,217,1) 0%, rgba(249,7,252,1) 100%);

    background-image: linear-gradient(96deg,#05d6d9 -122%, #f907fc 253%);
    opacity: 0.86;
    background-color: white;

  }

}



//-------------------------------------------------------------------------------------------------------
.arrowDownIcon {
  fill: #828282;
  height:1.5rem;
  width:1.5rem;
}


.itemSelected {
    color: #15009a;
    font-weight: bold;
}
