<main>
    <span class="bigger"> 126 Days </span>  since last Facebook scandal, a total of <span>147 SCANDALS!</span>
    <br>
    <br>

    Total number of Mark apologies without effect: 15 years of it! <br>

    Enough of it? Learn about the people fighting against Facebook!

</main>

