@import 'src/mixins.scss' ;
@import 'src/variables.scss' ;



:host {
  height: 19rem;
  width: 100%;
  @include flexCenter;
  mix-blend-mode: hard-light;
  //background-image: linear-gradient(92deg, #05d6d9 -56%, #ef10fb 123%, #f907fc 160%);
  background-image: linear-gradient(92deg, #2e97f0 -56%, #ef10fb 123%, #f907fc 160%);
}



main {
  font-size: 1.5625rem;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.bigger {
  font-size: 1.6875rem;
  text-transform: uppercase;
}
