//@import 'src/mixins.scss' ;
//@import 'src/variables.scss' ;



//min-width => 999px => 999px or bigger.
//max-width => 900py => 900px or smaller.

@mixin respond($breakpoint) {

  @if $breakpoint == phone-small-360-or-smaller {
    @media (max-width:22.5em) { @content };  //360px  //* content : allows us to pass a block of code into the mixin
  }

  @if $breakpoint == phone-600-or-smaller {
    @media (max-width:37.5em) { @content };  //600px  //* content : allows us to pass a block of code into the mixin
  }

  @if $breakpoint == tab-port-900-or-smaller {
    @media (max-width: 56.25em) { @content };  // 900 px
  }

  @if $breakpoint == tab-land-1200-or-smaller {
    @media (max-width: 75em) { @content };  // 1200 px
  }

  @if $breakpoint == my-laptop-1366-or-smaller {
    @media (max-width: 85.4em) { @content };  // 1366 px // my laptop
  }

  @if $breakpoint == big-desktop-1500-or-smaller {
    @media (max-width: 93.75em) { @content };    // 1500 px
  }

  @if $breakpoint == big-desktop-1800-or-smaller {
    @media (max-width: 112.5em) { @content };    // 1800 px
  }

  @if $breakpoint == big-desktop-2100-or-smaller {
    @media (max-width: 131.250em) { @content };    // 2100 px
  }

  @if $breakpoint == big-desktop-2400-or-smaller {
    @media (max-width: 150em) { @content };    // 2400 px
  }

  @if $breakpoint == big-desktop-2400-or-bigger {
    @media (min-width: 150em) { @content };    // 2400 px
  }

  @if $breakpoint == big-desktop-2700-or-bigger {
    @media (min-width: 168.750em) { @content };    // 2700 px
  }

  @if $breakpoint == big-desktop-3000-or-bigger {
    @media (min-width: 187.500em) { @content };    // 3000 px
  }

}




@mixin flexCenter  {
  display: flex;
  align-items: center;     // centers elements along the cross axis
  justify-content: center; // centers elements along the main axis
}


@mixin flexCenter-onlyVertically  {
  display: flex;
  justify-content: center; // centers elements along the main axis
}


@mixin flexCenter-onlyHorizontally  {
  display: flex;
  align-items: center; // centers elements along the main axis
}


//  css grid stuff


@mixin displayGrid-1row-1column-center-items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-row: 1fr;
  justify-items: center;
  align-items: center;
}


@mixin gridCenterItems {
  display: grid;
  justify-items: center;
  align-items: center;
}

@mixin gridCenterTracks {
  display: grid;
  justify-content: center;
  align-content: center;
}

@mixin gridSelfCenter {
  align-self: center;
  justify-self: center;
}

// other

@mixin centerAbsolutePositioning {
  position : absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}



@mixin centerAbsolutePositioning-rightBased {
  position : absolute;
  top: 50%;
  right: 50%;
  transform: translate(-50% , -50%);
}

