@import 'src/mixins.scss' ;
@import 'src/variables.scss' ;


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Poppins:wght@400;500;600&display=swap');
//Lato : 300 | Regular 400 |  Regular 400 italic  |  Bold 700
//Poppins:  Regular 400 | Medium 500  | Semi-bold 600


@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  color: #4c4747;
  //font-family: 'Roboto Mono', monospace;
  font-family: 'Lato', sans-serif;

  //font-size: 62.5%;  /* this is the root font-size ! | and = 62.5% of the default browser font-size which is usually 16px ==> final value 10px */
  //font-size: 50%;  /* this is the root font-size ! | and = 62.5% of the default browser font-size which is usually 16px ==> final value 10px */

  @include respond(big-desktop-2400-or-bigger) { font-size: 120% }
  @include respond(big-desktop-1800-or-smaller) { font-size: 100% }
  @include respond(big-desktop-1500-or-smaller) { font-size: 90% }
  @include respond(my-laptop-1366-or-smaller) { font-size: 80% }
  @include respond(tab-land-1200-or-smaller) { font-size: 73% }
  @include respond(tab-port-900-or-smaller) { font-size: 66% }

}



body {
  background-color: #fafafa;
  //background-color: #e5c4c4;
  //overflow-y: auto;
}



textarea:focus, input:focus{
  outline: none;
}
