


$color-blue-main  : #0000c8;

$color-green      : #4dfdba;  //off.aquamarine
$color-red        : #ff4338;  // rgb(255, 67, 56)
$color-pink       : #fac8b9;  //off. apricotPeach
$color-lightGray  : #dadada;   // off. Alto

