@import "src/mixins";
@import "src/variables";


:host {
  position: relative;
}

.bodyTitle {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #15009a;

  margin-bottom: 2.3125rem;
  margin-left: 9.4rem;
  margin-top: 3rem;
}


.scandalsContainer  {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 8.7rem;
  padding-right: 8.7rem;
  //overflow-y: scroll;
  //scrollbar-width: thin;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
  grid-gap: 4rem;
  @include gridCenterTracks;


  @include respond(big-desktop-2400-or-bigger) {
    grid-template-columns: repeat(auto-fit,minmax(35rem,1fr));
    grid-gap: 6rem;
    padding: 3rem;
  }

  @include respond(big-desktop-2100-or-smaller) {
    //1200 --- 2300 : make sure we always have 3 columns
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include respond(big-desktop-1800-or-smaller) {
  }

  @include respond(big-desktop-1500-or-smaller) {
  }

  @include respond(my-laptop-1366-or-smaller) {
  }

  @include respond(tab-land-1200-or-smaller) {
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
  }

  @include respond(tab-port-900-or-smaller) {
  }

  @include respond(phone-600-or-smaller) {
  }

  @include respond(phone-small-360-or-smaller) {
  }


}


.dateFilter {
  position: fixed;
  top: 28rem;
  right: 0;
  transition: 0.3s ease-out;
}


.adjustPosition {
  top: 2rem;
}


.displayScandalCard {
  position: fixed;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  background-color: rgb(255, 0, 0, 0.6);
  //filter: blur(3px);

  @include flexCenter;
}

.blur {
  //filter: blur(3px);
  //background-color: rgb(255, 0, 0, 0.6);
  position: fixed;
  top:0;
  left:0;
  height:100vh;
  width:100vw;
  font-size: 4rem;
  //color:transparent;
}

