
<p class="bodyTitle"> Latest Scandals </p>

<div class="scandalsContainer">
    <app-scandal-card *ngFor="let post of (scandalsList | searchPosts:(this.syncUIService.filterByNameSearchQuery$ | async)
                                                        | dateFilter:(this.syncUIService.filterByDateQuery$ | async))"
                      [opened]="false" [scandalSetter]="post" (click)="postClicked(post, $event)">
    </app-scandal-card>
</div>

<div class="dateFilter" appAdjustDateFilterPosition [ngClass]="{ adjustPosition : adjustFilterPosition }"  >
    <app-filter-by-date [postsSetter]="scandalsList" ></app-filter-by-date>
</div>


<div class="displayScandalCard" *ngIf="isScandalPostOpened">
    <app-scandal-card @scandalPostPopupState [scandalSetter]="currentScandalPost" [opened]="true" ></app-scandal-card>
</div>

